
    <section class="section has-background-white">
        <div class="container center">
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="/images/models-support-video.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                        </div>
                        <div class="content center">
                            <p> Model S
                                <span class="icon has-text-danger">
                                 <i class="fas fa-chevron-right"></i>
                               </span>
                               <br>
                               <small class="is-size-7 has-text-grey-light">11 Videos</small>
                             </p>
                        </div>
                        </div>
                    </div>
                </div>


                <div class="column">
                  <div class="card">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="/images/wit-model-x-tesla.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                        </div>
                        <div class="content center">
                          <p> Model X
                           <span class="icon has-text-danger">
                            <i class="fas fa-chevron-right"></i>
                          </span>
                          <br>
                          <small class="is-size-7 has-text-grey-light">14 Videos</small>
                        </p>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-16x9">
                                <img src="/images/tesla-model-3-driving.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                        </div>
                        <div class="content center">
                            <p> Model 3
                                <span class="icon has-text-danger">
                                 <i class="fas fa-chevron-right"></i>
                               </span>
                               <br>
                               <small class="is-size-7 has-text-grey-light">9 Videos</small>
                             </p>
                        </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
