<!DOCTYPE html>
<html>

<head>

    {{partial "reserve/head"}}

    <style>
		.hero {
			background:  black url(/images/2020-tesla-roadster-2.jpg) center / cover;
		}

		@media (max-width: 1024px) { .hero { background: black url(/images/2020-tesla-roadster-2.jpg) center / cover; } }
		@media (max-width:  768px) { .hero { background: black url(/images/2020-tesla-roadster-2.jpg) center / cover; } }

		/* responsive */
		@media (max-width: 768px) {
			:root {
				font-size: 90%;
			}
		}

	</style>
</head>

<body>

    <section class="hero is-fullheight">

        {{partial "reserve/nav"}}


        <div class="hero-body">
            <div class="container">
            <h1 class="title is-size-1"> Reserve your Roadster      </h1>
            <div class="columns"></div>

            <div class="column is-5">  

                <div class="control has-icon has-icon-right">
                    <input class="input" type="text" required/>
                    <i class="fa material-icons">face</i>
                    <label class="label">Name</label>
                    <i class="bar"></i>
                </div>
                <div class="control">
                    <input class="input is-success" type="text" value="bulma" required>
                    <label class="label">Username</label>
                    <i class="bar"></i>
                </div>
                <p class="control has-icon has-icon-right has-error">
                    <input class="input" type="text" value="hello@" required>
                    <i class="fa material-icons">warning</i>
                    <label class="label">Email</label>
                    <i class="bar"></i>
                    <span class="help is-danger">This email is invalid</span>
                </p>
        
                <p class="control">
                    <select>
                    <option>Select dropdown</option>
                    <option>With options</option>
                    </select>
                    <label class="label">Subject</label>
                    <i class="bar"></i>
                </p>
                <p class="control">
                    <textarea class="textarea" required></textarea>
                    <label class="label">Message</label>
                    <i class="bar"></i>
                </p>
                <p class="checkbox-control">
                    <label>
                    <input type="checkbox"/>
                    <i class="helper"></i>
                    Remember me
                    </label>
                </p>
                <p class="radio-control">
                    <label>
                    <input type="radio" name="question">
                    <i class="helper"></i>
                    Yes
                    </label>
                    <label>
                    <input type="radio" name="question">
                    <i class="helper"></i>
                    No
                    </label>
                </p>
                <p class="control">
                    <button class="button is-primary">Submit</button>
                    <button class="button is-link">Cancel</button>
                </p>
            </div>
    
            <div class="column">
            </div>

    </div>
  </div>


       

    </section>

    {{partial "home/footer"}}

</body>

</html>