<!DOCTYPE html>
<html>

<head>

    {{partial "reserve/head"}}

    <!-- <style>
		.hero {
			background:  black url(/images/2020-tesla-roadster-2.jpg) center / cover;
		}

		@media (max-width: 1024px) { .hero { background: black url(/images/2020-tesla-roadster-2.jpg) center / cover; } }
		@media (max-width:  768px) { .hero { background: black url(/images/2020-tesla-roadster-2.jpg) center / cover; } }

		/* responsive */
		@media (max-width: 768px) {
			:root {
				font-size: 90%;
			}
		}

	</style> -->
</head>

<body>

    <section class="hero ">

        {{partial "reserve/nav"}}

        <div class="hero-body">
            <div class="container">

                <div class="columns">
                    <div class="column h center">
                        <h1 class="title is-size-1"> Reserve your Tesla Roadster </h1>
                    </div>
                    <div class="column">
                        <img class="center has-text-centered center-column" src="/images/2018-tesla-roadster-banner.png"></img>
                    </div>

                </div>
                <div class="columns"></div>
            </div>
        </div>

    </section>

    <body>
        <section class="section">
            <div class="container">

                <div class="columns">
                    <div class="column is-6 is-desktop">

                        <div class="heading">


                            <div class="field">
                                <label class="label">Name</label>
                                <p class="control">
                                    <input class="input" type="text" placeholder="Enter your name">
                                </p>
                            </div>


                            <div class="field">
                                <label class="label">Email</label>
                                <p class="control has-icon has-icon-right">
                                    <input class="input " type="text" placeholder="Email input" value="">
                                    <span class="icon is-small">
                                        <i class="fa fa-warning"></i>
                                    </span>
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Country</label>
                                <p class="control">
                                    <span class="select">
                                        <select>
                                            <option>United States</option>
                                            <option>Agalega</option>

                              <option>Mauritius</option>
                                        </select>
                                    </span>
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Message</label>
                                <p class="control">
                                    <textarea class="textarea" placeholder="Textarea"></textarea>
                                </p>
                            </div>



                            <div class="field">
                                <p class="control">
                                    <div class="notification is-success">
                                        <label class="radio">
                                            <input type="radio" name="question">
                                            Roadster
                                        </label>
                                    </div>
                                    <div class="notification is-danger">
                                        <label class="radio">
                                            <input type="radio" name="question">
                                            Founders Edition Roadster
                                        </label>
                                    </div>
                                </p>
                            </div>

                            <div class="field is-grouped">
                                <p class="control">
                                    <button class="button is-primary">Submit</button>
                                </p>
                               
                            </div>
                        </div>
                    </div>


                    <div class="column">

                        <div class="notification is-danger" style="margin:50px">
                            Questions?
                            We're here to help. Call us anytime.
                            <strong>(888) 518-3752 </strong>| Request a callback tempus quis
                            placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida
                            purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
                            consectetur adipiscing elit
                        </div>

                    </div>

                </div>



            </div>
        </section>

    </body>

    {{partial "home/footer"}}

</body>

</html>