<!DOCTYPE html>
<html>

<head>

    {{partial "home/head"}}

    <style>
		.hero {
			background: black url(/images/support_hero@2x.jpg) center / cover;
		}

		@media (max-width: 1024px) { .hero { background: black url(/images/support_hero@2x.jpg) center / cover; } }
		@media (max-width:  768px) { .hero { background: black url(/images/support_hero--touch@2x.jpg) center / cover; } }

		/* responsive */
		@media (max-width: 768px) {
			:root {
				font-size: 90%;
			}
		}

	</style>
</head>

<body>

    <section class="hero is-fullheight">

        {{partial "home/nav"}}

        <div class="hero-body has-text-centered" style="margin-top:400px">
            <div class="columns"></div>
            <div class="column is-desktop is-2"></div>
            <div class="column is-8 is-mobile">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input" type="text" placeholder="Search Support">
                    </div>
                    <div class="control">
                        <a class="button is-info ">
                            <span class="icon is-medium is-right">
                                <i class="fas fa-search fa-lg"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="column is-desktop is-2"></div>
        </div>


    </section>

    {{partial "support/sections"}}

    {{partial "support/supportvideo"}}

    {{partial "home/footer"}}

</body>

</html>