<div class="columns has-background-black is-paddingless is-marginless ">
    <div class="column  is-desktop"></div>

    <div class="column is-9-tablet is-5-desktop">
        <section class="section has-background-black ">

            <table class="table is-fullwidth has-text-white  has-background-black">
                <thead>
                    <tr>
                        <th class="has-text-white">Base Specs</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Acceleration 0-60 mph</td>
                        <td class="right has-text-weight-bold">1.9 sec</td>
                    </tr>

                    <tr>
                        <td>Acceleration 0-100 mph</td>
                        <td class="right has-text-weight-bold">4.2 sec</td>
                    </tr>

                    <tr>
                        <td>Acceleration 1/4 mile</td>
                        <td class="right has-text-weight-bold">8.8 sec</td>
                    </tr>


                    <tr>
                        <td>Top Speed</td>
                        <td class="right has-text-weight-bold">Over 250 mph</td>
                    </tr>

                    <tr>
                        <td>Wheel Torque</td>
                        <td class="right has-text-weight-bold">10,000 Nm</td>
                    </tr>

                    <tr>
                        <td>Mile Range</td>
                        <td class="right has-text-weight-bold">620 miles</td>
                    </tr>

                    <tr>
                        <td>Seating</td>
                        <td class="right has-text-weight-bold">4</td>
                    </tr>

                    
                    <tr>
                        <td>Drive</td>
                        <td class="right has-text-weight-bold">All-Wheel Drive</td>
                    </tr>

                       
                    <tr>
                        <td>Base Price</td>
                        <td class="right has-text-weight-bold">$200,000</td>
                    </tr>

                    <tr>
                        <td>Base Reservation</td>
                        <td class="right has-text-weight-bold">$50,000</td>
                    </tr>

                    <tr>
                        <td>Founders Series Price <br><small>(1,000 reservations available)</small></td>
                        <td class="right has-text-weight-bold">$250,000</td>
                    </tr>
                    

                </tbody>
            </table>
        </section>

    </div>
    <div class="column is-desktop "></div>
</div>