<nav class="hero-head">
    <div class="columns is-mobile is-marginless heading has-text-weight-bold">
        <div class="column left">
            <figure class="navbar-item image">
               <a href="/"> <img src="/images/tesla.svg" style="width: 6.25rem; height: 1rem;"></a> 
            </figure>
        </div>
        
        <div class="column right">
      
            <a href="/login"> <p class="navbar-item desktop has-text-black desktop">SIGN IN</p></a>
            <a href="/support"> <p class="navbar-item desktop has-text-black desktop">SUPPORT</p></a>
            <a href="/about"> <p class="navbar-item desktop has-text-black desktop">ABOUT</p></a>
           
             <a class="button badge is-primary" data-badge="5" href="#">
                <span class="icon">
                  <i class="fas fa-shopping-cart"></i>
                </span>
                <span>Cart</span>
            </a>

           
            <figure class="navbar-item image">
                <i class="fas fa-3x fa-bars has-text-black"
                    style="width: 1rem; height: 1rem;"></i>
            </figure>
        </div>
    </div>
</nav>